@import 'reset';

$text-black:#000;
$text-white:#fff;
$text-red:#A00404;
$bg:#415165;


body{
    // mac英文字 SF Pro          window微軟正黑體
    font-family: "SF Pro Text", "PingFang TC","Microsoft JhengHei";
    line-height: 1.5;
}
h1{
    font-family:  "SF Pro Text";
    font-size: 80px;
    line-height: 95px;
}

h2{
    font-size: 32px;
    font-weight: 500;
}

h3{
    font-size: 24px;
    font-weight: 500;
}
p{
    font-size: 24px;
    font-weight: 300;
}
.text-md{
    font-size: 24px;
    font-weight: 300;
}
.text-sm{
    font-size: 20px;
    font-weight: 300;
}

.container{
    max-width: 1232px;
    margin: 0 auto;
    padding: 0px 16px;
}
img{
    vertical-align: middle;
    // display: block;
}

.subTitle{
    color:$text-red;
    font-size: 24px;
    font-weight: 600;
    vertical-align: text-top;
    margin-left: 16px;

}
.text-white{
    color: $text-white;
}
.text-center{
    text-align: center;
}
//main start

.name{
    h1{

        padding-top: 40px;
        padding-bottom: 22px;
        color: $text-black;
    }
}
.line__name{
    height: 2px;
    background-color: $text-black;
}

.avator{
   
    margin-top: 48px;
    margin-bottom: 48px;
}
.profile{
    margin-bottom: 64px;

    .profile__name{
        padding-bottom: 24px;
    }
}
.line{
    width: 100%;
    height: 1px;
    background-color:$text-black;
    margin-top: 7px;
    margin-bottom: 16px;
}
.education{
    margin-bottom: 64px;
    .education__master{
        padding-bottom: 16px;
    }
}

.skills{
    background-color: $bg;
    margin-bottom: 64px;
    padding-bottom: 40px;
    h2{
        padding-top: 24px;
        padding-bottom: 8px;
        text-align: center;
    }
    
}
.line2{
    width: 83%;
    height: 1px;
    background-color: $text-white;
    margin: 0 auto;

}
.skills__main{
    margin-top: 40px;
    margin-left: 41%;
    border-left: 1px solid #96A9C4;
   
    li{
        margin-bottom: 8px;
        padding-left: 24px;

        &:nth-last-child(1){
            margin-bottom: 0px;
        }
    }
}
.work{
    margin-bottom: 80px;
}
.work__content{
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 24px;
    .work__content--hex{
        margin-top: 0px;
    }

    h3{
        margin-top: 24px;
    }
    p{
        font-size: 20px;
    }
    .work__content--hexText{
        max-width: 642px;
    };
    
   
}

// footer start
footer{
    background-color: $bg;
    text-align: center;
    h2{
        padding-top: 24px;
        padding-bottom: 7px;
        border-bottom: 1px solid $text-white;
        width: 83%;
        margin: 0 auto;

    }
    .subTitle{
        font-weight: 500;
    }
}

.footer__main{
    padding-top:24px;
    padding-bottom: 40px;
    li{
        margin-bottom: 16px;
    }
    .social{
        margin-bottom: 0;
    
        img{
            &:nth-child(2){
                margin: 0px 22px;
            }
        }
    }
}


